/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

body {
    font-family: 'Lora', serif;
    font-weight: 400px;
    font-size: 16px;
    /* Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
    color: black;
}

h1 {
    font-size: 30px;
    font-weight: 700px;
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: 700px;
    margin: auto;
    text-align: center;
    padding: 80px;
}

h3 {
    font-size: 18px;
    font-weight: 700px;
}

p { 
    font-size: 22px;
    font-weight: 400px;
}

li {
    font-size: 16px;
    font-weight: 200
}

a {
    color: #357b70;
}

a:visited {
    /* visited link*/
    color: darkmagenta;
}

a:hover,
a:focus {
    cursor: pointer;
    /* No underlining when hover over a link*/
    text-decoration: none;
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    -o-transition: transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

a:active {
    /* selected link */
    color: black;
}

button {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: black;
    color: white;
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 4px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.button {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: black;
    color: white;
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 4px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    -o-transition: transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}


.navigation-list__item--active {
    text-decoration: none;
}

html {
    background-color: lightgray;
}

.profile_portrait {
    float: left;
    width: 250px;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}

.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 40px
}

.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px
}

.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: left;
}

.page-header__logo {
    margin-left: auto;
}

.navigation-list {
    list-style-type: none;
    float: right;
}

.navigation-list li {
    display: inline-block;
    margin-right: 40px;
}

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    max-width: 1200px;
    padding: 20px;
    -ms-grid-row: 250px;
        grid-row-start: 250px;
    gap: 30px;
    margin: 60px auto;
}

.grid__item {
    background-color: white;
    overflow: hidden;
    border-radius: 6px;
    border: 16px solid white;
    -webkit-box-shadow: 3px 3px 3px black;
            box-shadow: 3px 3px 3px black;
}

.page-table {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}

.page-table th {
    border: 2px solid black;
}

td {
    border: 2px solid black;
}

.contact {
    display: block;
    font-size: 30px;
    text-decoration: underline;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.contact-form {
    display: block;
    margin: auto;
    text-align: center;
}

.contact-me {
    max-width: 400px;
    margin: auto;
}

.social-media {
    display: block;
    text-align: center;
    padding: 40px;
}

.about {
float: center;
max-width: 500px;
margin: auto;
}

ul {
    list-style: none;
}


@media all and (max-width: 500px) {
    .grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }
  @media all and (min-width: 500px) and (max-width: 1400px){
    .grid {
      -ms-grid-columns: 1fr 30px 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }
  @media all and (max-width: 1400px) {
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }
    
    @-webkit-keyframes change-color{
        0% {
            fill: #edc655;
        }
        50% {
            fill: #fcffad;
        }
        100% {
            fill: #f76414;
        }
    }
    
    @keyframes change-color{
        0% {
            fill: #edc655;
        }
        50% {
            fill: #fcffad;
        }
        100% {
            fill: #f76414;
        }
    }
    
    .sun{
        -webkit-animation-duration: 4s;
                animation-duration: 4s;
       -webkit-animation-name: change-color;
               animation-name: change-color;
       -webkit-animation-iteration-count: infinite;
               animation-iteration-count: infinite;
       -webkit-animation-direction: alternate;
               animation-direction: alternate;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
    }

      @-webkit-keyframes cloud-move {
        from{
            -webkit-transform: translate(0, 50px);
                    transform: translate(0, 50px);
        }
        to {
            -webkit-transform: translate(200px, 50px);
                    transform: translate(200px, 50px);
        }
    }

      @keyframes cloud-move {
        from{
            -webkit-transform: translate(0, 50px);
                    transform: translate(0, 50px);
        }
        to {
            -webkit-transform: translate(200px, 50px);
                    transform: translate(200px, 50px);
        }
    }

    .cloud-front{
        -webkit-animation-duration: 30s;
                animation-duration: 30s;
        -webkit-animation-name: cloud-move;
                animation-name: cloud-move;
        -webkit-animation-iteration-count: infinite;
                animation-iteration-count: infinite;
        -webkit-animation-direction: alternate;
                animation-direction: alternate;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
      }

    @-webkit-keyframes cloud-move-reverse{
        from {
            -webkit-transform: translate(446px, 48px);
                    transform: translate(446px, 48px);
        }
        to {
            -webkit-transform: translate(100px, 48px);
                    transform: translate(100px, 48px);
        }
    }

    @keyframes cloud-move-reverse{
        from {
            -webkit-transform: translate(446px, 48px);
                    transform: translate(446px, 48px);
        }
        to {
            -webkit-transform: translate(100px, 48px);
                    transform: translate(100px, 48px);
        }
    }

    .cloud-back{
        -webkit-animation: 30s cloud-move-reverse infinite alternate linear;
                animation: 30s cloud-move-reverse infinite alternate linear;
    }

   .Baltimore {
    -webkit-transform: scale(3,3);
        -ms-transform: scale(3,3);
            transform: scale(3,3);
    -webkit-transform: translate(400px,200px);
        -ms-transform: translate(400px,200px);
            transform: translate(400px,200px);
    -webkit-animation: rotation 2s infinite linear;
            animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}