:root {
    --primary-color: #357b70;
    --secondary-color: #e0b354;
    --dark-grey: #2b2b2b;
    --background-color: lightgray;
    --visited-color: darkmagenta;
    --black: black;
    --white: white;
    --font-weight-1: 400px;
    --font-weight-2: 700px;





}

body {
    font-family: 'Lora', serif;
    font-weight: var(--font-weight-1);
    font-size: 16px;
    /* Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */
    color: var(--black);
}

h1 {
    font-size: 30px;
    font-weight: var(--font-weight-2);
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: var(--font-weight-2);
    margin: auto;
    text-align: center;
    padding: 80px;
}

h3 {
    font-size: 18px;
    font-weight: var(--font-weight-2);
}

p { 
    font-size: 22px;
    font-weight: var(--font-weight-1);
}

li {
    font-size: 16px;
    font-weight: 200
}

a {
    color: var(--primary-color);
}

a:visited {
    /* visited link*/
    color: var(--visited-color);
}

a:hover,
a:focus {
    cursor: pointer;
    /* No underlining when hover over a link*/
    text-decoration: none;
    transition: transform 0.25s;
    transform: scale(1.1, 1.1);
}

a:active {
    /* selected link */
    color: var(--black);
}

button,
.button {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: var(--black);
    color: var(--white);
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 4px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition: opacity 0.2s;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
    transition: transform 0.25s;
    transform: scale(1.1);
}


.navigation-list__item--active {
    text-decoration: none;
}

html {
    background-color: var(--background-color);
}

.profile_portrait {
    float: left;
    width: 250px;
    height: auto;
    margin-right: 40px;
    border-radius: 50%;
}

.profile {
    max-width: 700px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
    
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 40px
}

.page-header__item {
    flex: 0 1 200px
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: left;
}

.page-header__logo {
    margin-left: auto;
}

.navigation-list {
    list-style-type: none;
    float: right;
}

.navigation-list li {
    display: inline-block;
    margin-right: 40px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    max-width: 1200px;
    padding: 20px;
    grid-row-start: 250px;
    gap: 30px;
    margin: 60px auto;
}

.grid__item {
    background-color: var(--white);
    overflow: hidden;
    border-radius: 6px;
    border: 16px solid var(--white);
    box-shadow: 3px 3px 3px var(--black);
}

.page-table {
    max-width: 800px;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

.page-table th, td {
    border: 2px solid var(--black);
}

.contact {
    display: block;
    font-size: 30px;
    text-decoration: underline;
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.contact-form {
    display: block;
    margin: auto;
    text-align: center;
}

.contact-me {
    max-width: 400px;
    margin: auto;
}

.social-media {
    display: block;
    text-align: center;
    padding: 40px;
}

.about {
display: block;
max-width: 500px;
margin: auto;
text-align: center;
}

ul {
    list-style: none;
}

@media all and (max-width: 500px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }
  @media all and (min-width: 500px) and (max-width: 1400px){
    .grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media all and (max-width: 1400px) {
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }
    
    

   .Baltimore {
    transform: scale(3,3);
    transform: translate(400px,200px);
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}